SpudDataKit/Resources/*.lzfse filter=lfs diff=lfs merge=lfs -text
**/__Snapshots__/**/*.png filter=annex annex.largefiles=anything
**/__Snapshots__/**/*.png linguist-generated=true
**/__Snapshots__/**/*.png binary
